.imageandtitle{
    height: 250px;
    position: relative;
    margin-bottom: 75px;
}
.devImage{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.titleDate{
    position: absolute;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    width: 250px;
    top: 95%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ev{
    color: white;
    margin-left: 5px;
}
.dt{
    color: white;
    margin-right: 5px;
}