.team{
    background-image: url("/images/frameJudge1.svg");
    height: 100vh;
}

.logoSect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.logoImage{
    height: 75px;
    width: 75px;
    margin-left: 50px;
}

.profile{
    margin-right: 50px;
    height: 50px;
    width: 50px;
}

.title{
    display: flex;
    justify-content: center;
}

.titleText{
    background: linear-gradient(to bottom, #ffffff, #c3c3c3);
    -webkit-background-clip: text;
    color: transparent; 
    display: inline-block;
    font-weight: 900 ;
    margin-bottom: 8px;
    font-size: 45px;
}

.descriptionDiv{
    margin-left: 60px;
}

.descAndCrit{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.descTextDiv{
    width: 70%;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.descText{
    color: white;
    line-height: 2.5;
    font-size: 20px;
}

.btnsDiv{
    display: flex;
}

.criteria{
    width: 200px;
    height: 40px;
    border-width: 2px;
    border-color: #4285F4;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: auto;
    margin-bottom: 20px;
}

.critsAndBtnsDiv{
    margin-right: 60px;
}

.color{
    color: #4285F4;
}

.criteriaImage{
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.criteriaText{
    color: white;
    margin-right: 10px;
    margin-top: 15px;
}


.criteriasDiv{
    margin-top: 200px;
}

.critsDiv{
    display: flex;
    width: 30%;
}

.critButton{
    margin-bottom: 15px;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #0070F3;
    border-width: 0;
    border-radius: 10px;
    color: white;
    margin-right: 15px;
}


.subs{
  display: flex;
}

.figma{
  display: flex;
}

.front{
  display: flex;
}

.back{
  display: flex;
}

.subsColor{
    color: white;
    margin-right: 35px;
}

.figmaImage{
    margin-right: 5px;
}

.oneCriteria{
    display: flex;
    margin-bottom: 10px;
}

.star{
    height: auto;
    width: auto;
    margin-bottom: auto;
    margin-top: 7px;
    margin-right: 10px;
}