#current-events{
    background-image: url('/images/Frame.png');
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.current-events-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.current-events-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    width: 100%;
}
.current-events-bottom h1{
    font-size: 40px;
    font-weight: bolder;
    color: white;
}
